<div class="container h-100">
  <div class="row justify-content-center align-items-center h-100 mt-5">
    <div class="col-12 col-lg-4">
      <form @submit.prevent="DoLogin" class="form border p-4">
        <div v-show="loginErrorMessage">{{loginErrorMessage}}</div>
        
        <label for="login" class="form-label">Login:</label>
        <input v-model="login" class="form-control" type="text" name="login" value>
  
        <label for="password" class="form-label">Password:</label>
        <input v-model="password" class="form-control" type="password" name value>
  
        <div class="text-center">
          <button class="btn btn-primary mt-2 " :disabled="!login && !password" type="submit" name="button">Login</button>
        </div>
        
      </form>
    </div>
  </div>
</div>