<div class="col-6 col-lg-4 mb-4">
    <div class="card h-100">
        <img class="card-img-top" :src="poster" alt="Movie poster">
        <div class="card-body d-flex flex-column justify-content-between">
            <div class="mb-3">
                <h5 class="card-title">{{movie.Title}}</h5>
                <p class="card-text">Year: {{movie.Year}}</p>
                <p class="card-text">Type: {{movie.Type}}</p>
            </div>
            <button 
                @click="ShowDetail" 
                class="btn btn-primary"
                data-toggle="modal" 
                data-target="#detailModal"
            >Detail</button>
        </div>
    </div>
</div>